/*
  This file is included by both screen.html and controller.html
*/
body {
  background-color: #C3E4A1;
  /*font-size: 20px;
  font-family: sans-serif;*/
}

.view {
  /*width: 100%;
  /*margin: auto;
  margin-top: 50px;
  /*padding: 20px;
  border: 1px solid #3498db;
  /* Recommend to do this, so that on load you do not see all container views */
  display: none;
}

.Start-button{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 37px 20px 37px;
  text-decoration: none;
  text-align: center;
  transform-origin: center center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.deactive{
  opacity: 0.6;
}

#Start-text{
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.Tutorial-confirm-button{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 37px 20px 37px;
  text-decoration: none;
  text-align: center;
  transform-origin: center center;
  position: absolute;
  bottom: 0%;
  right: 0%;
  /*transform: translate(-50%, -50%);*/
}

.Tutorial{
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #2d91d4;
  padding: 27px 32px 27px 32px;
  text-decoration: none;
  text-align: center;
}

.button-one{
  position: absolute;
  top: 30%;
  left: 55%;
}
.button-two{
  position: absolute;
  top: 30%;
  left: 70%;
}
.button-three{
  position: absolute;
  top: 55%;
  left: 55%;
}
.button-four{
  position: absolute;
  top: 55%;
  left: 70%;
}
.button-back{
  position: absolute;
  right: 1%;
  top: 10%;
  transform: translate(-10%, -50%);
  padding: 20px 30px 20px 30px;
}

#cloth-image{
    background-image: url("Tutorial/Cloth1.png");
    position: absolute;
    top: 20%;
    left: 20%;
    width: 40%;
    height: 40%;
    background-size: contain;
    background-repeat: no-repeat;
}

#fantasy-image{
  background-image: url("Fantasy/Cloth1.png");
  position: absolute;
  top: 20%;
  left: 20%;
  width: 40%;
  height: 40%;
  background-size: contain;
  background-repeat: no-repeat;
}

#cloth-text{
  position: absolute;
  top: 65%;
  left: 5%;
  width: 50%;
  text-align: center;
  font-size: 18px;
}

#tutorial-hint-text{
  position: absolute;
  top: 20%;
  left: 45%;
  width: 50%;
  text-align: center;
  font-size: 18px;
}

#fantasy-cloth-text{
  position: absolute;
  top: 35%;
  left: 52%;
  width: 50%;
  text-align: left;
  font-size: 18px;
}

#joystick_left {
  position: absolute;
  width: 45%;
  height: 70%;
  top: 10%;
  left: 0%;
  transform: translate(0%, 25%);
}

.example-container {
  position: relative;
  background-color: #3b3b3b;
  text-align: center;
  font-family: sans-serif;
  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: 720px;
  max-height: 360px;
}

.interact{
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #2d91d4;
  padding: 27px 40px 27px 40px;
  text-decoration: none;
  text-align: center;
}


