/*
  This file is included by both screen.html and controller.html
*/
body {
  background-color: #C3E4A1;
  /*font-size: 20px;
  font-family: sans-serif;*/
}

.view {
  /*width: 100%;
  /*margin: auto;
  margin-top: 50px;
  /*padding: 20px;
  border: 1px solid #3498db;
  /* Recommend to do this, so that on load you do not see all container views */
  display: none;
}

.Start-button{
  background-image: url("UI/confirm-button-1.png");
  position: absolute;
  font-size: 30px;
  line-height: 90px;
  top: 60%;
  left: 50%;
  width: 60%;
  height: 60%;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.deactive{
  opacity: 0.6;
}

#Start-title{
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 25px;
}

#Start-text{
  position: absolute;
  top: 35%;
  left: 5%;
  width: 95%;
  text-align: left;
  font-size: 18px;
}

.Tutorial-confirm-button{
  background-image: url("UI/button.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  padding: 8px 25px 8px 25px;
  text-decoration: none;
  text-align: center;
  transform-origin: center center;
  position: absolute;
  bottom: 3%;
  right: 40%;
  /*transform: translate(-50%, -50%);*/
}

.Tutorial{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: none;
  padding: 16px;
  text-decoration: none;
  text-align: center;
  border: 4px solid black;
}

.button-one{
  position: absolute;
  top: 67%;
  left: 20%;
  border-radius: 50%;
  border-color: #336600;
}
.button-two{
  position: absolute;
  top: 67%;
  left: 35%;
  border-radius: 50%;
  border-color: #336600;
}
.button-three{
  position: absolute;
  top: 67%;
  left: 50%;
  border-radius: 50%;
  border-color: #336600;
}
.button-four{
  position: absolute;
  top: 67%;
  left: 65%;
  border-radius: 50%;
  border-color: #336600;
}
.button-back{
  position: absolute;
  right: 1%;
  top: 10%;
  transform: translate(-10%, -50%);
  padding: 20px 30px 20px 30px;
}

#bg-image{
    background-image: url("UI/DiscriptionBg.png");
    position: absolute;
    top: 10%;
    left: 10%;
    width: 85%;
    height: 85%;
    background-size: contain;
    background-repeat: no-repeat;
}

#lable-image{
    background-image: url("UI/Label.png");
    position: absolute;
    top: 18%;
    left: 45%;
    width: 45%;
    height: 45%;
    background-size: contain;
    background-repeat: no-repeat;
}

.avatar-image{
    background-image: url("UI/avatar-1.png");
    position: absolute;
    top: 2%;
    right: -5;
    width: 20%;
    height: 20%;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(20%, 0);
}


#fantasy-image{
  position: absolute;
  top: 30%;
  left: 10%;
  width: 40%;
  height: 40%;
  background-size: contain;
  background-repeat: no-repeat;
}

#cloth-text{
  position: absolute;
  top: 23%;
  left: 50%;
  width: 38%;
  text-align: left;
  font-size: 18px;
  color: #336600;
}

#tutorial-hint-text{
  position: absolute;
  top: 60%;
  left: 23%;
  width: 50%;
  text-align: center center;
  font-size: 16px;
  color: #336600;
}

#fantasy-cloth-text{
  position: absolute;
  top: 35%;
  left: 42%;
  width: 50%;
  text-align: left;
  font-size: 18px;
}

#joystick_left {
  position: absolute;
  width: 45%;
  height: 70%;
  top: 10%;
  left: 0%;
  transform: translate(0%, 25%);
}

.example-container {
  position: relative;
  background-color: #3b3b3b;
  text-align: center;
  font-family: sans-serif;
  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: 720px;
  max-height: 360px;
}

.interact{
  background-image: url("UI/confirm-button-1.png");
  position: absolute;
  font-size: 30px;
  line-height: 100px;
  top: 40%;
  right: 5%;
  width: 50%;
  height: 60%;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.fantasy-check{
  position: absolute;
  top: 50%;
  left: 55%;
}
.button-back-hint{
	transform: translateY(-80%);
}

.button-hint{
	transform: translateX(120%);
}

#hint-text{
  position: absolute;
  top: 30%;
  width: 80%;
  text-align: center;
  font-size: 25px;
  transform: translateX(10%);
}

#low-extent-text{
	position: absolute;
  top: 72%;
  left: 5%;
  width: 10%;
  text-align: center;
  font-size: 16px;
  color: #000000;
}

#high-extent-text{
	position: absolute;
  top: 72%;
  left: 80%;
  width: 10%;
  text-align: center;
  font-size: 16px;
  color: #000000;
}

.disabled{
    display: none;
    visibility: hidden;
}
